@charset "UTF-8";
.body {
  width: 100%;
  margin: auto;
}

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-purple: #9356DC;
  --main-pink: #FF79DA;
  --main-palegreen: #99E2D0;
  --main-darkgreen: #008766;
}

a {
  text-decoration: none;
  color: inherit;
}

/*GPS*/
.gps {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: inset 0 10px 8px -5px #d5d5d5;
  gap: 15px;
  height: 50px;
}
.gps__icon {
  display: flex;
  align-items: center;
}
.gps__form {
  position: relative;
  display: flex;
  align-items: center;
  width: 109px;
}
.gps__ville {
  border: transparent;
  background-color: #eaeaea;
}

/*BOUTONS*/
.bouton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px 0;
  background-color: whitesmoke;
  text-align: center;
}
.bouton__titre {
  width: 70%;
  margin: 10px 0;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
}
.bouton p {
  width: 85%;
  margin: 0;
  font-size: 18px;
  font-weight: lighter;
}
.bouton__degrade {
  width: 218px;
  height: 50px;
  color: white;
  font-size: 16px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 25px;
  border: none;
  font-weight: 300;
  margin: 27px 75px 57px 82px;
}
.bouton__degrade:hover {
  cursor: pointer;
  box-shadow: 0 4px 10px 0 #7E7E7E;
  transition: opacity 300ms ease-in-out;
  background: #9356dc;
}

/*FONCTIONNEMENT*/
.fonction {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}
.fonction__titre {
  margin: 10px 0;
  font-size: 28px;
  line-height: 1;
  font-weight: 800;
}
.fonction__boutons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  padding-bottom: 10px;
  margin: auto;
}
@media (min-width: 1024px) {
  .fonction__boutons {
    width: 98%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.fonction__box {
  display: flex;
  align-items: center;
  height: 72px;
  margin: 15px 0;
  border-radius: 20px;
  border: none;
  gap: 4%;
  background-color: #f6f6f6;
  box-shadow: 0 4px 10px #d5d5d5;
}
@media (min-width: 1024px) {
  .fonction__box {
    width: 30%;
  }
}
.fonction__box--numero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  left: -19px;
  bottom: -5px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  padding: 1%;
}
.fonction__box--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  color: #7E7E7E;
}
.fonction__box--soustitre {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.fonction__box:hover {
  background-color: lighten #9356DC, 35%;
  box-shadow: 0 10px 5px 0 #bcbcbc;
  cursor: pointer;
}
.fonction__box:hover > .fonction__box--icon {
  color: #9356DC;
}

/*RESTAURANTS*/
.restaurant {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0 66px 0;
  background-color: whitesmoke;
}
.restaurant__titre {
  width: 90%;
  margin: 20px auto;
  font-size: 28px;
  line-height: 1;
  font-weight: 800;
}
.restaurant__bloc {
  width: 90%;
  margin: auto;
}
@media (min-width: 768px) {
  .restaurant__bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.restaurant__card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 251px;
  margin: auto;
  margin-bottom: 18px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 10px 0 #d5d5d5;
}
@media (min-width: 768px) {
  .restaurant__card {
    width: 48%;
    margin: 0;
    margin-bottom: 4%;
  }
}
.restaurant__card:hover {
  box-shadow: 0 4px 10px 0 #bcbcbc;
}
.restaurant__card--image {
  position: relative;
  overflow: hidden;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__card--image img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__card--image--nvx {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
}
.restaurant__card--inf {
  display: flex;
  align-items: flex-start;
  height: auto;
  min-height: 75px;
  padding: 15px;
}
.restaurant__card--inf--txt {
  width: 90%;
}
.restaurant__card--inf h4, .restaurant__card--inf p {
  margin: 0;
}
.restaurant__card--inf h4 {
  width: 267px;
  height: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}
.restaurant__card--inf p {
  height: 24px;
  font-weight: 300;
  font-size: 18px;
}
.restaurant__card--coeur {
  position: absolute;
  top: 76%;
  right: 7%;
  font-size: 25px;
}

.header {
  padding: 1%;
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 50%;
  padding: 15px;
}
@media (min-width: 1024px) {
  .header__logo {
    width: 20%;
  }
}
.header__fleche {
  display: flex;
  position: absolute;
  margin-left: -110px;
  margin-top: 25px;
}

.footer {
  width: 100%;
  background-color: #404040;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
    padding: 0;
  }
}
.footer p {
  margin: 5px 0;
}
.footer__logo {
  display: flex;
  margin: 10px 0px 16px 12px;
  font-size: 20px;
  font-family: "Shrikhand";
}
@media (min-width: 768px) {
  .footer__logo {
    width: 137px;
    margin: 0 0 -50px 0;
  }
}
.footer__bloc {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 10px 12px;
}
@media (min-width: 768px) {
  .footer__bloc {
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 0 0 -50px 0;
  }
}
.footer__lien {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 10px;
}
@media (min-width: 768px) {
  .footer__lien {
    display: flex;
  }
}
.footer__lien--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 13px;
  font-size: 13px;
}
@media (min-width: 768px) {
  .footer__lien--inf p {
    width: 130px;
    height: 20px;
  }
}

.menu__img {
  position: relative;
  width: 100%;
  height: 250px;
}
@media (min-width: 1024px) {
  .menu__img {
    height: 400px;
  }
}
.menu__img img {
  width: 100%;
  height: 107%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__page {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 25px 25px 0 0;
  padding: 2% 5% 5% 5%;
  z-index: 0;
}
@media (min-width: 1024px) {
  .menu__page {
    max-width: 1024px;
    margin: auto;
  }
}
.menu__page__titre {
  display: flex;
  align-items: center;
  margin: auto;
}
@media (min-width: 768px) {
  .menu__page__titre {
    width: 400px;
    height: 41px;
    justify-content: center;
  }
}
.menu__page__titre h2 {
  width: 87%;
  font-size: 27px;
  font-family: "Shrikhand";
}
@media (min-width: 768px) {
  .menu__page__titre h2 {
    display: flex;
    font-size: 35px;
    width: 95%;
  }
}
@media (min-width: 1024px) {
  .menu__page__titre h2 {
    display: flex;
    font-size: 39px;
    width: 95%;
    margin: auto;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .menu__conteneur {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.menu__commander {
  display: flex;
  justify-content: center;
}

.menu__liste {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .menu__liste {
    width: 100%;
  }
}

.menu__titre__plat {
  position: relative;
  margin: 4% 0 2% 0;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.menu__titre__plat::after {
  display: block;
  position: absolute;
  bottom: 2px;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
}
@media (min-width: 1024px) {
  .menu__titre__plat {
    font-size: 22px;
  }
}

.menu__card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 0;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  overflow: hidden;
  cursor: pointer;
}
.menu__card__inf {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  margin: 2%;
  gap: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px;
}
.menu__card__desc h4 {
  margin: 0;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__desc p {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card__prix {
  display: flex;
  align-items: flex-end;
  width: 15%;
  padding: 5px;
}
.menu__card__prix p {
  margin: 0;
  font-weight: 700;
}
.menu__card:hover > .menu__card__check {
  margin-right: 0px;
}
.menu__card:hover > .menu__card__check::after {
  transform: rotate(360deg);
}
.menu__card__check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 20%;
  margin-right: -20%;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transition: margin-right 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
}
.menu__card__check::after {
  display: inline-block;
  margin: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f058";
  color: #fff;
  transition: transform 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
}

/****COEUR REMPLISSAGE****/
@keyframes remplissage {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  15% {
    opacity: 0.25;
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 1;
    transform: scale(1.1);
  }
  95% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.bouton__coeur {
  width: 28px;
  z-index: 0;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  padding: 0;
  border: transparent 0px solid;
  background-color: transparent;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}
.bouton__coeur:hover::after {
  z-index: 1;
  animation: remplissage 900ms forwards cubic-bezier(0.65, 1.01, 0.98, 1.06);
}
.bouton__coeur::after {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f004";
  color: transparent;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  transform-origin: bottom;
  -webkit-text-stroke: 1px;
}

/****APPARITION MENU****/
@keyframes fade-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
}
.fade-in {
  transform-origin: top;
  animation: fade-in 2s forwards;
}
.fade-in--1delay {
  animation: fade-in 2s 500ms both;
}
.fade-in--2delay {
  animation: fade-in 2s 1000ms both;
}

/* CSS pour les éléments d'entrée */
.menu__list:nth-child(1) .menu__card {
  animation: appearEntrance 1.5s ease forwards;
  opacity: 0;
}

/* CSS pour les éléments de plat */
.menu__list:nth-child(2) .menu__card {
  animation: appearPlat 5.5s ease forwards;
  opacity: 0;
}

/* CSS pour les éléments de dessert */
.menu__list:nth-child(3) .menu__card {
  animation: appearDessert 9.5s ease forwards;
  opacity: 0;
}

/* Animation pour les éléments d'entrée */
@keyframes appearEntrance {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation pour les éléments de plat */
@keyframes appearPlat {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation pour les éléments de dessert */
@keyframes appearDessert {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=Style.css.map */