.body{
    width: 100%;
    margin: auto;
}

*{
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
/**** font weight ****/
$font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
);

